@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
.btn-notizie {
    background-color: #450d13;
    color: white;
    border-radius: 50px;
}

.btn-promo {
    background-color: #b22222;
    color: white;
    border-radius: 50px;
}

.icona-inclinata {
    transform: rotate(45deg);
}
/* doesn't work the ring
@keyframes dondola {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.campanella {
    animation: dondola 0.5s ease-in-out 1;      /* Tintinnio di mezzo secondo
    animation-delay: 0s;                        /* Nessun ritardo iniziale
    animation-iteration-count: infinite;        /* Ripetizione infinita
    animation-timing-function: steps(1, end);   /* Si ferma dopo il movimento
}
*/